.control-group
	label.control-label E-mail
	.controls
		.input-prepend
			span.add-on
				i.icon-envelope
			input.input-medium(type="email",ng-model="formAuth.email")
.control-group
	label.control-label Senha
	.controls
		.input-prepend
			span.add-on
				i.icon-lock
			input.input-medium(type="password",ng-model="formAuth.senha")