ul.nav.nav-tabs.nav-stacked
	li
		a(href="#/dashboard")
			i.icon-reorder
			| Dashboard
	li
		a(href="#/storage")
			i.icon-cloud
			| Storage
	li
		a(href="#/empresas")
			i.icon-building
			| Empresas
	li
		a(href="#/campanhas")
			i.icon-asterisk
			| Campanhas
	li
		a(href="#/displays")
			i.icon-desktop
			| Displays
	li
		a(href="#/playlists")
			i.icon-tasks
			| Playlists
	li
		a(href="#/empresas")
			i.icon-th-large
			| Templates

ul.nav.nav-tabs.nav-stacked
	li
		a(href="#/eventos")
			i.icon-user
			| Contas
	li
		a(href="#/eventos")
			i.icon-calendar
			| Eventos
	li
		a(href="#/relatorios")
			i.icon-bar-chart
			| Relatórios
	li
		a(href="#/relatorios")
			i.icon-money
			| Finanças
	li
		a(href="/publicidade")
			i.icon-exclamation
			| Publicidade 
			.badge.badge-important novo